<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pica Categories</title>

    <link href="/pica/static/css/pc/main.css" id="css" rel="stylesheet" type="text/css">
    <script src="/pica/static/js/main.js"></script>
</head>
<body>

<script>
    if (!IsPC()) {
        var css = document.getElementById("css")
        css.setAttribute("href", "/pica/static/css/mobile/main.css")
    }

    // alert(navigator.userAgent)
</script>

{{range .}}

<div class="category">
    <a href="{{if .Link}}{{.Link}}{{else}}/pica/comics?category={{.Title}}{{end}}&page=1">
        <img class="category_cover" src="/pica/img?fileServer={{.Thumb.FileServer}}&path={{.Thumb.Path}}">
    </a>
    <span>{{.Title}}</span>
</div>

{{end}}

</body>
</html>