<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comics</title>

    <link id="css" href="/pica/static/css/pc/main.css" rel="stylesheet" type="text/css">
    <script src="/pica/static/js/main.js"></script>
</head>
<body>

<script>
    if (!IsPC()) {
        var css = document.getElementById("css")
        css.setAttribute("href", "/pica/static/css/mobile/main.css")
    }

    // alert(navigator.userAgent)
</script>

{{range .comics}}

<div class="comic">
    <a href="/pica/comic/{{._id}}">
        <img class="comic_cover" src="/pica/img?fileServer={{.thumb.fileServer}}&path={{.thumb.path}}">
    </a>
    <span style="display: block">{{.title}}</span>
</div>

{{end}}

<div class="button">
    {{if ne .previousPage 0}}
    <button><a href="/pica/comics?category={{.category}}&page={{.previousPage}}">Previous Episode</a></button>
    {{end}}

    {{if ne .nextPage 0}}
    <button><a href="/pica/comics?category={{.category}}&page={{.nextPage}}">Next Episode</a></button>
    {{end}}
</div>

</body>
</html>