<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.info.title}}</title>

    <link id="css" href="/pica/static/css/pc/main.css" rel="stylesheet" type="text/css">
    <script src="/pica/static/js/main.js"></script>
</head>
<body>

<script>
    if (!IsPC()) {
        var css = document.getElementById("css")
        css.setAttribute("href", "/pica/static/css/mobile/main.css")
    }

    // alert(navigator.userAgent)
</script>


<div>

    {{ $thumb := .info.thumb }}

    <div class="comic_detail">
        <img class="comic_cover" src="/pica/img?fileServer={{$thumb.fileServer}}&path={{$thumb.path}}">
    </div>

    <div class="episode_list">
        {{ $comicId := .info._id }}
        {{ range .episodes }}
        <a href="/pica/comic/{{$comicId}}/episode/{{.order}}">
            <div class="ep_{{.order}}">
                {{.title}}
            </div>
        </a>
        {{ end }}
    </div>

</div>

</body>
</html>