<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.ep}}</title>

    <link id="css" href="/pica/static/css/pc/main.css" rel="stylesheet" type="text/css">
    <script src="/pica/static/js/main.js"></script>
    <style>

    </style>
</head>
<body>

<script>
    if (!IsPC()) {
        var css = document.getElementById("css")
        css.setAttribute("href", "/pica/static/css/mobile/main.css")
    }

    // alert(navigator.userAgent)
</script>

<div class="button">
    {{if ne .previous 0}}
    <button><a href="/pica/comic/{{.comicId}}/episode/{{.previous}}">Previous Episode</a></button>
    {{end}}

    <button><a href="/pica/comic/{{.comicId}}">Home</a></button>

    <button><a href="/pica/comic/{{.comicId}}/episode/{{.next}}">Next Episode</a></button>
</div>

<div class="episode">
    {{range .images}}
    <img class="episode_image" src="/pica/img?fileServer={{.media.fileServer}}&path={{.media.path}}">
    {{end}}
</div>

<div class="button">
    {{if ne .previous 0}}
    <button><a href="/pica/comic/{{.comicId}}/episode/{{.previous}}">Previous Episode</a></button>
    {{end}}

    <button><a href="/pica/comic/{{.comicId}}">Home</a></button>

    <button><a href="/pica/comic/{{.comicId}}/episode/{{.next}}">Next Episode</a></button>
</div>


</body>
</html>