<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pica Login</title>
    <link id="css" href="/pica/static/css/pc/main.css" rel="stylesheet" type="text/css">
    <script src="/pica/static/js/main.js"></script>
</head>
<body>

<script>
    if (!IsPC()) {
        var css = document.getElementById("css")
        css.setAttribute("href", "/pica/static/css/mobile/main.css")
    }

    // alert(navigator.userAgent)
</script>

<div class="login">
    <form action="/pica/loginCheck" method="POST">
        <table id="input">
            <tbody>
            <tr>
                <td>Username:</td>
                <td><input name="username" type="text"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="password" type="text"/></td>
            </tr>
            <tr>
                <td id="button_td" colspan="2">
                    <button class=".button" type="submit">Submit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>